html, body {
    font-family: Verdana,sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    user-select: none;
  }

  .navbar {
    overflow: hidden;
    background-color: #9dcd7c;
    height: 60px;
    position: fixed;
    width: 100%;
  }
  
  .navbar h1 {
    float: left;
    font-family: 'Chewy', cursive;
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
    margin: 5px 0px 0px 0px;
  }
  
  .navbar img {
    height: 60px;
    width: 60px;
    float: left;
    padding: 0px 20px;
    transform: scaleX(-1);
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 20px;
  }
  
  .dropdown .dropdownbtn {
    font-size: 20px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #3b971e;
    padding: 7px 9px;
    outline: none;
  }
  
  .navbar a:hover {
    background-color: #9dcd7c;
  }
  
  .dropdown:hover .dropdownbtn {
    background-color: #9dcd7c;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 20px;
    top: 45px;
  }
  
  .dropdown-content a {
    font-size: 1em;
    float: none;
    color: black;
    padding: 7px 19px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 0px;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #cashTitle {
    float: right;
  }
  
  #cashTitle p {
    margin-top: 10px;
    font-size: 2em;
    color: white;
    display: inline-block;
    margin-right: 20px;
  }
  
  #cashTitle i {
    font-size: 26px;
    color: white;
    float: left;
    margin: auto;
    margin-right: 12px;
    margin-top: 18px;
  }

  #resources {
      float: left;
      margin-left: 5%;
      max-width: 45%;
      margin-top: 60px;
  }

  #resources img {
      width: 60px;
      border: 2px solid black;
  }

  #resources button {
    height: 40px;
    width: 100px;
    font-size: 1.5em;
    background-color: white;
    border: 2px solid black;
    margin-left: 10px;
  }

  #resources .resourceNumber {
    font-size: 1.4em;
    padding: 0px 20px;
    word-break: break-all;
  }

  #resources .resourceStorage {
    font-size: 0.8em;
    font-style: italic;
  }

  #resources .resourceaSecond {
      font-size: 0.8em;
      padding: 0px 10px;
  }

  #staff {
      float: right;
      margin-right: 5%;
      max-width: 45%;
      margin-top: 60px;
  }

  #staff #buyStaff {
    height: 35px;
    width: 150px;
    font-size: 1.2em;
    background-color: white;
    border: 2px solid black;
  }

  #staff p {
    display: inline-block;
    word-break: break-all;
    min-width: 150px;
  }

  #animals {
    text-align: center;
  }
  .animal {
    display: grid;
    grid-template-columns: 1.3fr 1fr 0.7fr 1.3fr 1fr;
    grid-template-rows:  0.3fr 1.3fr auto;
    grid-template-areas: "animalInfo animalShelter animalShelter animalBuy animalBuy" "animalInfo animalEnrichment animalEnrichment animalStats animalStats" "animalInfo animalRequirements animalRequirements animalRequirements animalRequirements";
    border: 4px solid black;
    width: 80%;
    min-height: 250px;
    margin: auto;
    border-radius: 10px;
    background-color: #9dcd7c;
    margin-top: 20px;
}

  
.animalBuy { grid-area: animalBuy; }

.animalInfo { 
    grid-area: animalInfo;
    border-right: 6px solid black;
    background: #0b73fa;
    box-sizing: border-box;
}

.animalInfo .animalName {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 15px;
    padding: 5px 0px;
    font-size: 1.2em;
    text-align: center;
}

.animalInfo .animalNumber {
    padding-top: 10px;
    font-size: 1.4em;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    word-break: break-all;
    padding-bottom: 10px;
}

.animalInfo img {
    height: 175px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.animalEnrichment { grid-area: animalEnrichment; }

.animalShelter { grid-area: animalShelter; }

.animalRequirements { 
    grid-area: animalRequirements;
    border-top: 3px solid black;
}

.animalRequirements img {
    width: 46px;
    border-radius: 10px;
    vertical-align: middle;
}

.animalRequirements Table {
    width: 90%;
    margin: auto;
}

.animalRequirements ul {
  margin: 0px;
  list-style-position: inside;
  text-align: left;
}

.animalStats { grid-area: animalStats; }


.animalShelterB{
    float: left;
    margin: 8px;
    padding: 5px 12px;
    font-size: 1.2em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0b73fa;
    color: black;
  }

.animalShelterB:disabled {
  color: graytext;
  background-color: #0552b5;
}

  .animalShelterB i {
    padding-right: 10px;
    color: rgb(139, 66, 16);
  }

  .animalEnrichmentB {
    float: left;
    margin: 8px;
    padding: 5px 12px;
    font-size: 1.2em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0b73fa;
    color: black;
  }

  .animalEnrichmentB:disabled {
    color: graytext;
    background-color: #0552b5;
  }

  .animalEnrichmentB i {
    padding-right: 10px;
    color: yellow;
  }

  .animalBuyB {
    float: right;
    margin: 8px;
    padding: 4px 20px;
    font-size: 1.3em;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #0b73fa;
    color: black;
  }

  .animalBuyB:disabled {
    color: graytext;
    background-color: #0552b5;
  }

  .animalBuyB i {
    padding-right: 10px;
    color: #37c027;
  }

  .increments {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 5px;
  }

  .incrementsRight {
    float: right;
    margin: 12px 2px 0px 2px;
  }

  .incrementsLeft {
    float: left;
    margin: 12px 2px 0px 2px;
  }

  .staffIncremental {
    height: 35px;
    font-size: 1.2em;
    background-color: white;
    border: 2px solid black;
  }


  .animalUnlock {
    display: block;
    width: 30%;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
  }

  .animalUnlock button {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 1.3em;
    background: none;
    border: 2px solid black;
  }